.App {
  text-align: center;
}

.game-container {
  flex-wrap: wrap;
}

.game-card {
  border-radius: 1rem;
  border: solid black 1px;
  padding: 1rem;
  height: auto;
  width: 9rem;
}

.link {
  font-style: normal;
  color: black;
  text-decoration: none;
}

