.App {
  text-align: center;
}

.welcome {
  font-weight: 800;
  text-align: center;
  margin-left: 10%;
  margin-right: 50%;
  width: 4em;
  height: auto;
}


.profile button{
  padding:0.90em 1.8em;
  border-style: transparent;
  border-color: transparent;
  border-width: 3.5px, 1px;
  background-color: transparent;
  margin:0 .50em .5em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: inherit;
  font-size: 1.4vw;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}

.profile button:hover {
  color: black;
  border-color: rgba(9, 139, 133, 0.733);
  border-width: 3.5px, 1px;
  border-radius: .5rem;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;

}

.profile button:active {
  color: black;
  text-decoration: none;
  font-style: normal;
}

.profile button:visited {
  color: black;
  border-color: transparent;
  text-decoration: none;
  font-style: normal;
}

.profile button:link {
  color: black;
  border-color: transparent;
  text-decoration: none;
  font-style: normal;
}

.welcome h1 {
  font-weight:900;
}
.welcome p{
  margin-left: auto;
  margin-right: auto;
  width: 100em;
}

.game-container {
  height: 100vh;
  width: 75%;
  right: 50px;
  display: inline-block;
}

.game-card {
  background-color: transparent;
  border-radius: 1rem;
  border: solid black 1px;
  bottom: -10px;
  padding: 1rem;
  height: auto;
  width: 11rem;
  transform-origin: bottom;
}

.game-card:hover{
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-name: bounce-6;
  animation-timing-function: ease;
  box-shadow: black;

}

.game-card button {
  border:0.1em solid #FFFFFF;
  border-radius:0.12em;
  box-sizing: border-box;
  background-color: transparent;
  color: black;
  display:inline-block;
  font-weight:300;
  height: 75px;
  width: auto;
  margin:0 0.3em 0.3em 0;
  padding:0.35em 1.2em;
  text-decoration: none;
  text-align:center;
  transition: all 0.2s;
}

.game-card button:hover {
  color: white;
  background-color: black;
  border-color: black;
}

@keyframes bounce-6 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1,.8)   translateY(0); }
  30%  { transform: scale(.9,.9)   translateY(-50px); }
  50%  { transform: scale(1,.9) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

.game-card button:active {
  color: black;
  border-color: black;
}

.link {
  font-style: normal;
  color: black;
  text-decoration: none;
}

.nav-bar {
  color: black;
  height: 125px;
  font-style: normal;
  text-decoration: none;
  white-space: normal;
  overflow: hidden;
}

.nav-logo {
  float: left;
  display: inline-flex;
}

.nav-logo h2 {
  color: black;
  -webkit-text-stroke: .30px white; /* width and color */
  font-family: 'Comfortaa', cursive;
  font-size: 3.6vh;
  font-weight: 1000;
  overflow: hidden;
  opacity: 95%;
  top: 5px;
  transform: rotate(-7deg);
  width: 75%;
  z-index: 1;
  
}

.nav-logo img{
  border-radius:  250px;
  height: 110px;
  top: 10px;
  width: auto;
}

.button-div {
  float: right;
  height: 20px;
}

.button-div button {
  padding:0.90em 1.8em;
  border-style: transparent;
  border-color: transparent;
  border-width: 3.5px, 1px;
  background-color: transparent;
  margin:0 3em 4em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: inherit;
  font-size: 1.4vw;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  z-index: 4;
}

.nav-bar button:hover {
  color: black;
  border-color: rgba(9, 139, 133, 0.733);
  border-width: 3.5px, 1px;
  border-radius: .5rem;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;

}

.nav-bar button:active {
  color: black;
  text-decoration: none;
  font-style: normal;
}

.nav-bar button:visited {
  color: black;
  border-color: transparent;
  text-decoration: none;
  font-style: normal;
}

.nav-bar button:link {
  color: black;
  text-decoration: none;
  font-style: normal;
}

/* Timer CSS */
.base-timer {
  position: relative;
  height: 150px;
  width: 150px;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green{
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange{
  color: orange;
}

.base-timer__path-remaining.red{
  color: red;
}

.base-timer__svg {
  transform: scaleX(-1);
}

